@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Montserrat&family=Poppins:ital,wght@0,400;1,300&family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: black;

}

.navbar ul {
    height: 50px;
    width: 100vw;
    font-size: 16px;
    background-color: rgb(123, 135, 122);
    font-weight: 900;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 10px;
    list-style-type: none;
}

.navbar ul li {
    display: inline-block;
    padding: 10px;
    overflow-y: hidden;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
}

.container h2 {
    color: lime;
    text-align: center;
    padding: 40px;
    font-size: 8vh;
    font-weight: 1200px;
}

.container h2:hover {
    color: aqua;
    box-shadow: 5px 5px 50px 5px aqua;

}

.intro {
    color: rgb(229, 249, 4);
    font-size: 7vh;
    text-align: center;
    /* padding: 50px; */
    text-transform: capitalize;
    font-weight: 1000;
    padding: 50px 50px;
}

.intro:hover {
    color: lime;
    box-shadow: 2px 5px 30px 5px yellow;
}

#info {
    text-align: center;
    font-size: 5vh;
    color: rgb(255, 251, 0);
    justify-content: center;
    text-align: center;
    font-weight: 800;


}

#info:hover {
    color: chocolate;
    box-shadow: 2px 2px 30px 3px;
}



.skills_shown {
    color: rgb(217, 0, 255);
    padding: 25px;
    text-align: center;
    font-size: 6vh;
    font-weight: 700;
}

.skills_shown ul li {
    list-style-type: none;


}

.skills_shown:hover {
    color: cornsilk;
}

img {
    display: inline-block;
    /* width: 40vh; */
    height: 40vh;
    border-radius: 15px;  
    padding: 25px 25px;
}

.centerimg{
    text-align: center;
}

.briefintro {
    color: aqua;
    font-size: 21px;
    font-weight: 500;

}

.briefintro ul li {  
    text-align: center;
}



.briefintro:hover {
    color: indianred;
}

#check{
    display: none;
}
.menu{
    display: none;
}


@media only screen and (max-width:450px) {
    #check:checked ~ ul{
        left: 0;
     
    }
    .menu{
        display: block;
        cursor: pointer;
        
    }
    .navbar ul{
        position: fixed;
        top: 25px;
        width: 100%;
        height: 50vh;
        background-color: white;
        left: -100%;
        flex-direction: column;
        transition: all 0.5s ease-in-out;
        z-index: 2;
        overflow-x: scroll;
        overflow-y: scroll;
    }
    .container h2 {
        font-size: 16px;
    }

    .intro {
        font-size: 16px;
    }
    .briefintro{
        font-size: 16px;
    }
    .skills_shown{
        font-size: 16px;
    }

    #info{
        font-size: 16px;
    }

    .social-links{
        font-size: 16px;
    }

}

@media only screen and (min-width:450px) and (max-width:800px){

    .container h2 {
        font-size: 5vh;
    }

    .intro {
        font-size: 5vh;
    }
    .briefintro{
        font-size: 18px;
    }
    .skills_shown{
        font-size: 5vh;
    }

    #info{
        font-size: 5vh;
    }

    .social-links{
        font-size: 20px;
    }

}

@media only screen and (min-width:800px){

    .container h2 {
        font-size: 8vh;
    }

    .intro {
        font-size: 7vh;
    }
    .briefintro{
        font-size: 21px;
    }
    .skills_shown{
        font-size: 6vh;
    }

    #info{
        font-size: 5vh;
    }

    .social-links{
        font-size: 24px;
    }

}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px; /* Adjust the font size as needed */
    color: red;
   
}

.separator {
    margin: 0 10px; /* Adjust the spacing between links and symbols */
}


.link1{
    text-decoration: none;
    color:chartreuse;
}







